.card{
    background-color: rgb(3,25,61);
    border-radius: 12px;
    display: flex;
    margin: 40px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.card-img{
    width: 200px;
    height: 200px;
}
.card-child-2{
    text-align: left;
    padding: 5px 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.card-title{
    font-size: 2vw;
    font-weight: bold;
    margin: 0px;

}
.card-description{
    font-size: 2vw;
    margin: 0px;
}
.card-link{
    text-decoration: none;
    background: rgb(254,205,9);
    padding: 4px 11px;
    width: 100px;
    text-align: center;
    color: rgb(3,25,61);
    font-weight: 600;
    border-radius: px;
}
@media (max-width: 725px){
    .card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-img{
        width: 200px;
        height: 150px;
    }
}